.animateFadeAndSwipeDown {
  animation: fadeAndSwipeDown 1s ease;
}

@keyframes fadeAndSwipeDown {
  0% {
    opacity: 0; /* Start with opacity set to 0 */
    transform: translateY(-50%); /* Start off-screen */
  }
  100% {
    opacity: 1; /* Animate opacity to 1 (fade-in effect) */
    transform: translateY(
      0
    ); /* Animate to the original position (swipe-up effect) */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.input-style {
  box-shadow: inset 5px 5px 10px hsl(169, 61%, 46%),
    inset -5px -5px 10px hsl(90, 25%, 98%);
}
