.animateFadeAndSwipeDown {
  animation: fadeAndSwipeDown 1s ease;
}

@keyframes fadeAndSwipeDown {
  0% {
    opacity: 0; /* Start with opacity set to 0 */
    transform: translateY(-50%); /* Start off-screen */
  }
  100% {
    opacity: 1; /* Animate opacity to 1 (fade-in effect) */
    transform: translateY(
      0
    ); /* Animate to the original position (swipe-up effect) */
  }
}

.animateBorderBottom {
  animation: fadeBorderBottom 1s ease-in-out infinite alternate;
  border-bottom: 2px solid transparent; /* Set the initial style of the border */
}

@keyframes fadeBorderBottom {
  0%,
  100% {
    border-bottom: 2px solid transparent; /* Start and end with the same style */
  }
  50% {
    border-bottom: 2px solid; /* Set the style at the midpoint of the animation */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.bg-custom-image {
  position: fixed;
  width: 100%;
  height: 100%;
  mask-image: radial-gradient(
    ellipse 50% 80% at 80% 55%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.125) 65%,
    rgba(0, 0, 0, 0.5)
  );
  mask-size: cover; /* Adjust the height of the clipped area */
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.input-style {
  box-shadow: inset 5px 5px 10px hsl(169, 61%, 46%),
    inset -5px -5px 10px hsl(90, 25%, 98%);
}
