.animateFadeAndSwipeDown {
  animation: fadeAndSwipeDown 1s ease;
}

@keyframes fadeAndSwipeDown {
  0% {
    opacity: 0; /* Start with opacity set to 0 */
    transform: translateY(-50%); /* Start off-screen */
  }
  100% {
    opacity: 1; /* Animate opacity to 1 (fade-in effect) */
    transform: translateY(
      0
    ); /* Animate to the original position (swipe-up effect) */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

/* Define the initial styles for the element */
.activeNavbar {
  position: relative;
}

/* Define the animation */
@keyframes borderAnimation {
  0% {
    width: 0; /* Initial width of the border */
    left: 0%; /* Start position (centered) */
    opacity: 1; /* Fully visible */
  }
  50% {
    width: 100%;
    left: 0; /* Fully stretched */
    opacity: 1; /* Fully visible */
  }
  100% {
    width: 100%;
    left: 0; /* Fully stretched */
    opacity: 0; /* Fully transparent */
  }
}

/* Apply the animation to the border-bottom property */
.activeNavbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px; /* Thickness of the border */
  background-color: hsl(var(--foreground)); /* Color of the border */
  border-radius: 1rem; /* Border radius */
  animation: borderAnimation 1s ease infinite; /* Animation properties */
}

.inset-shadow:focus {
  box-shadow: inset 5px 5px 10px hsl(var(--muted)),
    inset -5px -5px 10px hsl(var(--background));
}

.outside-shadow {
  box-shadow: 5px 5px 10px hsl(var(--foreground)), -5px -5px 10px hsl(var(--background));
}
